.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    3,
    3,
    3,
    0.9
  ); /* Adjust the background color and opacity */
  z-index: 1000; /* Make sure this value is higher than the z-index of your Navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}
