@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer {
  html,
  body {
    height: 100%;
  }

  #__next {
    height: 100%;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #101010; /* Set your desired background color or remove this line */
}

@layer base {
  body {
    @apply text-gray-300;
  }
}

.custom-scrollbar {
  overflow-y: scroll;
}

#contactbutton {
  border: 0;
  outline: none;
  font-family: "Noto_Sans", sans-serif;
  color: rgba(133, 0, 138, 0.8);
}

.intro {
  border: 0;
  outline: none;
  font-family: "Noto_Sans", sans-serif;
  color: rgba(224, 224, 224, 0.8);
  font-weight: 100;
  line-height: 0.8;
  letter-spacing: 0.01em;
  font-size: 600%;
  padding: 10px;
}

.brand {
  border: 0;
  outline: none;
  font-family: "Noto_Sans", sans-serif;
  color: rgba(224, 224, 224, 0.8);
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.01em;
  font-size: 4vw; /* Use viewport width for responsive font size */
  padding: 2vw; /* Use viewport width for responsive padding */
  background: linear-gradient(to top left, rgba(207, 0, 214, 0.6), #6f00ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.background-brand-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  filter: brightness(0.5); /* You can adjust the brightness if needed */
}
