@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer {
  html,
  body {
    height: 100%;
  }

  #__next {
    height: 100%;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #101010; /* Set your desired background color or remove this line */
}

@layer base {
  body {
    @apply text-gray-300;
  }
}

.custom-scrollbar {
  overflow-y: scroll;
}

#contactbutton {
  border: 0;
  outline: none;
  font-family: "Noto_Sans", sans-serif;
  color: rgba(133, 0, 138, 0.8);
}

.intro {
  border: 0;
  outline: none;
  font-family: "Noto_Sans", sans-serif;
  color: rgba(224, 224, 224, 0.8);
  font-weight: 100;
  line-height: 0.8;
  letter-spacing: 0.01em;
  font-size: 12vw;
  padding: 10px;
}

.brand {
  border: 0;
  outline: none;
  font-family: "Noto_Sans", sans-serif;
  color: rgba(224, 224, 224, 0.8);
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.01em;
  font-size: 8vw; /* Use viewport width for responsive font size */
  padding: 0vw; /* Use viewport width for responsive padding */
  background: linear-gradient(to top left, rgba(207, 0, 214, 0.6), #6f00ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.background-brand-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  filter: brightness(0.4); /* You can adjust the brightness if needed */
  overflow: "hidden";
}

#video-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.video-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* styles.css */

.text-mask {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext x='50%25' y='30%25' dominant-baseline='middle' text-anchor='middle' font-family='Noto Sans' font-weight='900' font-size='1vw' fill='white' text-transform='uppercase'%3EKaterina Ernst%3C/text%3E%3C/svg%3E")
      center / contain,
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 100'%3E%3Ctext x='45%25' y='50' dominant-baseline='middle' text-anchor='middle' font-family='Noto Sans' font-weight='100' font-size='1vw' fill='white' text-transform='uppercase'%3EPHOTO%3C/text%3E%3Ctext x='44%25' y='55' dominant-baseline='middle' text-anchor='middle' font-family='Noto Sans' font-weight='100' font-size='1vw' fill='white' text-transform='uppercase'%3EGRAPH%3C/text%3E%3Ctext x='30%25' y='60' dominant-baseline='middle' text-anchor='middle' font-family='Noto Sans' font-weight='100' font-size='1vw' fill='white' text-transform='uppercase'%3EER%3C/text%3E%3C/svg%3E")
      center / contain;
}
@media (max-width: 768px) {
  .text-mask {
    font-size: 8vw; /* Adjust the font size for smaller screens */
  }
}
